{% extends "admin_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    
</style>
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Update Career Record</h1>
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div><!-- End Page Title -->

    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="container" style="max-width:97%;">
                    <div class="text-lg-end text-start">
                        <!-- Use text-lg-end for right alignment in large screens -->
                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#filter_data"><i
                                class="mdi mdi-filter"></i> Filter</a>
                        
                            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#add_new"><i
                                class="mdi mdi-file-pdf"></i> Add New</a>
 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>


    <div class="container">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Update Career</button>
        </form>
    </div>
     

     

</main><!-- End #main -->


<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

<script> 
    $(document).ready(function() {
        $('.summernote').each(function() {
            const customHeight = $(this).data('height') || 300; // Default to 300 if no data-height
            $(this).summernote({
                height: customHeight,
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'italic', 'underline', 'clear']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['insert', ['link', 'picture']],
                    ['view', ['fullscreen', 'codeview', 'help']]
                ]
            });
        });
    });
</script>

{% endblock content %}