{% extends "website_base.html" %}
{% load static %}
{% block title %}Dynaxcel Engineers Pvt Ltd. - Home{% endblock title %}
{% block content %}
<!-- Carousel Start -->
<div class="container-fluid p-0 pb-5">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="{% static 'website/img/carousel-6.jpg' %}" alt=""  loading="lazy" style="height:80vh">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
                style="background: rgba(53, 53, 53, .7);">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-8 text-center">
                            <h5 class="text-white text-uppercase mb-3 animated slideInDown">Welcome To <span
                                    style="color: #7fd347;"><b>Dynaxcel</b></span></h5>
                            <h1 class="display-3 text-white animated slideInDown mb-4">Innovative Steel <span
                                    class="text-primary">Engineering
                                    Solutions</span></h1>
                            <p class="fs-5 fw-medium text-white mb-4 pb-2 animated slideInLeft">Providing top-tier steel
                                fabrication and construction services. Quality, precision, and durability in every
                                project we undertake.</p>
                            <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Read More</a>
                            <a href="" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Free Quote</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="{% static 'website/img/carousel-7.jpg' %}" alt=""  loading="lazy" style="height:80vh">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
                style="background: rgba(53, 53, 53, .7);">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-8 text-center">
                            <h5 class="text-white text-uppercase mb-3 animated slideInDown">Welcome To <span
                                    style="color: #7fd347;">Dynaxcel</span></h5>
                            <h1 class="display-3 text-white animated slideInDown mb-4">Innovative Steel <span
                                    class="text-primary">Engineering
                                    Solutions</span></h1>
                            <p class="fs-5 fw-medium text-white mb-4 pb-2 animated slideInLeft">Providing top-tier steel
                                fabrication and construction services. Quality, precision, and durability in every
                                project we undertake.</p>
                            <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Read More</a>
                            <a href="" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Free Quote</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="{% static 'website/img/carousel-4.png' %}" alt=""  loading="lazy" style="height:80vh">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
                style="background: rgba(53, 53, 53, .7);">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-8 text-center">
                            <h5 class="text-white text-uppercase mb-3 animated slideInDown">Welcome To <span
                                    style="color: #7fd347;">Dynaxcel</span></h5>
                            <h1 class="display-3 text-white animated slideInDown mb-4">Innovative Steel <span
                                    class="text-primary">Engineering
                                    Solutions</span></h1>
                            <p class="fs-5 fw-medium text-white mb-4 pb-2 animated slideInLeft">Providing top-tier steel
                                fabrication and construction services. Quality, precision, and durability in every
                                project we undertake.</p>
                            <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Read More</a>
                            <a href="" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Free Quote</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<!-- Carousel End -->




<!-- About Start -->
<div class="container-fluid py-2 mb-3">
    <div class="container ">
        <div class="row text-center mb-4">
            <div class="Heading-section">
                <i class="bi bi-gear-wide-connected"></i>
                <span class="line-text"> <span class="text-secondary">About</span> us </span>
                <i class="bi bi-gear-wide-connected"></i> <br>
            </div>

            <div class="row text-center">
                <p>
                    Learn More About Us – Experts in Innovative Manufacturing Solutions.
                </p>
            </div>
        </div>


        <div class="row g-5">
            <!--
            <div class="col-lg-6">
                <div class="d-flex flex-column" style="position:relative; margin-left:-20px;">
                    <img class="img-fluid rounded w-75 align-self-end" src="{% static 'website/img/about-1.jpg' %}" alt="" data-aos="zoom-in-down"  >
                    <img class="img-fluid rounded w-50 bg-white pt-3 pe-3 about-img-2" data-aos="flip-right" data-aos-duration="1500" data-aos-delay="300" src="{% static 'website/img/about-2.jpg' %}" alt="">
                </div>
            </div> 
            -->

            <div class="col-lg-6">
                <div class="row g-3">
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-100 wow zoomIn" loading="lazy" data-aos="zoom-in-down" data-aos-duration="1500" data-aos-delay="100"
                            src="https://media.istockphoto.com/id/1047558948/photo/engineer-with-contract.jpg?s=612x612&w=0&k=20&c=2yK-IYmu0-t3rWUUjD7H0or7vhx7CuNw3VaLTN9jZV8=">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-75 wow zoomIn" loading="lazy" data-aos="flip-left"
                            data-aos-duration="1500" data-aos-delay="300"
                            src="https://img.freepik.com/premium-photo/civil-engineers-working-construction-sitethe-company-manager-supervises-road-construction_44277-21015.jpg"
                            style="margin-top: 25%;">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-75 wow zoomIn" loading="lazy" data-aos="flip-left"
                            data-aos-duration="1500" data-aos-delay="500"
                            src="https://images.radio.com/aiu-media/GettyImages1334138262-09eb77f3-a56a-4d2f-acb7-87a5ed2a43ea.jpg?width=800">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-100 wow zoomIn" loading="lazy" data-aos="zoom-in-down"
                            data-aos-duration="1500" data-aos-delay="600"
                            src="https://immigcanada.com/wp-content/uploads/2024/03/Top-Civil-Engineering-Jobs-in-Canada-ImmigCanada.jpg">
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <h1 class="mb-4" data-aos="zoom-in" data-aos-duration="1500">Discover Why We <span
                        style="color:#7fd347 ;">Stand Out</span> </h1>
                <p style="text-align:justify;" data-aos="zoom-in" data-aos-duration="1500" data-aos-delay="100">Located
                    in Pune, India, we are a leading provider of manufacturing solutions, with expertise across various
                    sectors like Paper, Mining, Energy, and more. Our commitment to the 'Make in India' initiative
                    drives us to deliver top-quality, sustainable solutions that substitute imports and foster long-term
                    partnerships.</p>
                <p data-aos="zoom-in" data-aos-duration="1500" data-aos-delay="250"><i
                        class="bi bi-arrow-right-circle-fill text-primary me-3"></i>Comprehensive Manufacturing
                    Solutions</p>
                <p data-aos="zoom-in" data-aos-duration="1500" data-aos-delay="400"><i
                        class="bi bi-arrow-right-circle-fill text-primary me-3"></i>Integrated Management Systems
                    Certified</p>
                <p data-aos="zoom-in" data-aos-duration="1500" data-aos-delay="550"><i
                        class="bi bi-arrow-right-circle-fill text-primary me-3"></i>Focus on Safety & Sustainability</p>
                <a class="btn btn-primary rounded-pill py-3 px-5 mt-3" href="{% url "website_about_us" %}">Explore More</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->



<!--counter Start-->
<section class="our-facts">
    <div class="container-fluid" style="max-width: 1600px;">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>A Few Facts About Our Organization</h2>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-12">
                                <div class="count-area-content percentage " data-aos="zoom-in" data-aos-duration="1500"
                                    data-aos-delay="50">
                                    <div class="count-digit">94</div>
                                    <div class="count-title">Succesed Projects</div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="count-area-content" data-aos="zoom-in" data-aos-duration="1500"
                                    data-aos-delay="150">
                                    <div class="count-digit">126</div>
                                    <div class="count-title">Current Employees</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-12">
                                <div class="count-area-content new-students" data-aos="zoom-in" data-aos-duration="1500"
                                    data-aos-delay="250">
                                    <div class="count-digit">10</div>
                                    <div class="count-title">New Projects</div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="count-area-content" data-aos="zoom-in" data-aos-duration="1500"
                                    data-aos-delay="350">
                                    <div class="count-digit">32</div>
                                    <div class="count-title">Awards</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                        <div class="video" data-aos="flip-left" data-aos-duration="2000" data-aos-delay="50">
                            <a href="https://www.youtube.com/embed/JlurtdQWs2M" target="_blank"><img
                                    src="{% static '/website/img/play-icon.png' %}" alt="" loading="lazy"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--<counter End-->


<!-- Services Start-->
<section class="index-service">
    <br><br>
    <div class="container" style="max-width: 1200px;">
        <div class="row">

            <div class="Heading-section">
                <i class="bi bi-gear-wide-connected "></i>
                <span class="line-text"> <span class="text-secondary ">Our</span> Services </span>
                <i class="bi bi-gear-wide-connected"></i> <br>
            </div>
            <center>
                <p class="textdifferent text-center">This is all about services</p>
            </center>
            <div class="col-md-4 mb-4" data-aos="zoom-in-down" data-aos-duration="1500" data-aos-delay="50">
                <div class="service-box  " style="width: 100%;">
                    <div class="service-img" style="width: 100%;">
                        <center>
                            <img src="https://cdn-icons-png.flaticon.com/512/1326/1326589.png" alt=""  loading="lazy">
                        </center>
                    </div>
                    <h4 class="text-success text-center">Stainless Steel & Exotic Fabrication</h4>
                    <p>We specialize in processing stainless steel. Specially trained
                        workforce to handle stainless steel takes care of material by
                        having dedicated area, spotless handling and dedicated toolset. </p>
                    <a href="" class="btn btn-primary mb-2">Explore More</a>
                </div>
            </div>
            <div class="col-md-4 mb-4" data-aos="zoom-in-down" data-aos-duration="1500" data-aos-delay="50">
                <div class="service-box  " style="width: 100%;">
                    <div class="service-img" style="width: 100%;">
                        <center>
                            <img src="https://cdn-icons-png.flaticon.com/512/1326/1326589.png" alt="" loading="lazy">
                        </center>
                    </div>
                    <h4 class="text-success text-center">Stainless Steel & Exotic Fabrication</h4>
                    <p>We specialize in processing stainless steel. Specially trained
                        workforce to handle stainless steel takes care of material by
                        having dedicated area, spotless handling and dedicated toolset. </p>
                    <a href="" class="btn btn-primary mb-2">Explore More</a>
                </div>
            </div>
            <div class="col-md-4 mb-4" data-aos="zoom-in-down" data-aos-duration="1500" data-aos-delay="50"
                loading="lazy">
                <div class="service-box  " style="width: 100%;">
                    <div class="service-img" style="width: 100%;">
                        <center>
                            <img src="https://cdn-icons-png.flaticon.com/512/1326/1326589.png" alt="" loading="lazy">
                        </center>
                    </div>
                    <h4 class="text-success text-center">Stainless Steel & Exotic Fabrication</h4>
                    <p>We specialize in processing stainless steel. Specially trained
                        workforce to handle stainless steel takes care of material by
                        having dedicated area, spotless handling and dedicated toolset. </p>
                    <a href="" class="btn btn-primary mb-2">Explore More</a>
                </div>
            </div>
            <div class="col-md-4 mb-4" data-aos="zoom-in-down" data-aos-duration="1500" data-aos-delay="50"
                loading="lazy">
                <div class="service-box  " style="width: 100%;">
                    <div class="service-img" style="width: 100%;">
                        <center>
                            <img src="https://cdn-icons-png.flaticon.com/512/1326/1326589.png" alt="" loading="lazy">
                        </center>
                    </div>
                    <h4 class="text-success text-center">Stainless Steel & Exotic Fabrication</h4>
                    <p>We specialize in processing stainless steel. Specially trained
                        workforce to handle stainless steel takes care of material by
                        having dedicated area, spotless handling and dedicated toolset. </p>
                    <a href="" class="btn btn-primary mb-2">Explore More</a>
                </div>
            </div>
            <div class="col-md-4 mb-4" data-aos="zoom-in-down" data-aos-duration="1500" data-aos-delay="50">
                <div class="service-box  " style="width: 100%;">
                    <div class="service-img" style="width: 100%;">
                        <center>
                            <img src="https://cdn-icons-png.flaticon.com/512/1326/1326589.png" alt="" loading="lazy">
                        </center>
                    </div>
                    <h4 class="text-success text-center">Stainless Steel & Exotic Fabrication</h4>
                    <p>We specialize in processing stainless steel. Specially trained
                        workforce to handle stainless steel takes care of material by
                        having dedicated area, spotless handling and dedicated toolset. </p>
                    <a href="" class="btn btn-primary mb-2">Explore More</a>
                </div>
            </div>
            <div class="col-md-4 mb-4" data-aos="zoom-in-down" data-aos-duration="1500" data-aos-delay="50">
                <div class="service-box  " style="width: 100%;">
                    <div class="service-img" style="width: 100%;">
                        <center>
                            <img src="https://cdn-icons-png.flaticon.com/512/1326/1326589.png" alt="" loading="lazy">
                        </center>
                    </div>
                    <h4 class="text-success text-center">Stainless Steel & Exotic Fabrication</h4>
                    <p>We specialize in processing stainless steel. Specially trained
                        workforce to handle stainless steel takes care of material by
                        having dedicated area, spotless handling and dedicated toolset. </p>
                    <a href="" class="btn btn-primary mb-2">Explore More</a>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Services Stop-->



<!-- News Start-->
<div class="container-fluid py-2 mt-5 px-lg-0">

    <div class="row text-center mb-4">
        <div class="Heading-section">
            <i class="bi bi-gear-wide-connected"></i>
            <span class="line-text"> <span class="text-secondary">Latest</span> News </span>
            <i class="bi bi-gear-wide-connected"></i>
        </div>
    </div>

    <div class="row g-0">
        <div class="col-lg-3 d-none d-lg-flex">
            <div class="d-flex align-items-center justify-content-center  w-100 h-100"
                style="background: linear-gradient(90deg, #85e676 6.14%, #91db86 83.37%); ">
                <h3 class="display-3 text-white m-0 fs-1" style="transform: rotate(-90deg); ">Innovation, Insights, and
                    Industry Updates</h3>
            </div>
        </div>

        <div class="col-md-12 col-lg-9  ">
            <div class="ms-lg-5 ps-lg-5 ">
                <div class="row">
                    <p>Join our community for regular updates and engineering insights that drive results</p>
                </div>


                <div class="owl-carousel news-carousel px-2">

                    <div class="bg-light p-4  news-carousel-item  mt-3 mb-3 " style="height: 200%;">
                        <div class="news-img">
                            <img src="https://cdn.hasselblad.com/hasselblad-com/6cb604081ef3086569319ddb5adcae66298a28c5_x1d-ii-sample-01-web.jpg?auto=format&q=97"
                                alt="" loading="lazy">
                        </div>
                        <div class="news-info mt-3">
                            <p class="news-date-location">
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="badge bg-date mt-2"><i class="bi bi-calendar3"></i> Sep 07, 2024</span>
                                </div>
                                <div class="col-sm-7">
                                    <span class="badge bg-location mt-2"><i class="bi bi-geo-alt"></i> Pune,
                                        India</span>
                                </div>
                            </div>
                            </p>
                        </div>
                        <h5 class="mb-3 mt-2 ">Dynaxcel Expands Its Manufacturing Solutions with a Focus on
                            Sustainability</h4>
                            <p class="" style="text-align: justify;">Dynaxcel, a leading manufacturing solutions
                                provider in Pune, India, continues to strengthen its position across multiple
                                industries. With world-class infrastructure and a highly skilled workforce </p>
                            <a href="" class="btn bg-white text-primary w-100 mt-2">Read More<i
                                    class="fa fa-arrow-right text-secondary ms-2"></i></a>
                    </div>


                    <div class="bg-light p-4 news-carousel-item mt-3 mb-3 " style="height: 200%;">
                        <div class="news-img">
                            <img src="https://cdn.hasselblad.com/hasselblad-com/6cb604081ef3086569319ddb5adcae66298a28c5_x1d-ii-sample-01-web.jpg?auto=format&q=97"
                                alt="" loading="lazy">
                        </div>
                        <div class="news-info mt-3">
                            <p class="news-date-location">
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="badge bg-date mt-2"><i class="bi bi-calendar3"></i> Aug 28, 2024</span>
                                </div>
                                <div class="col-sm-7">
                                    <span class="badge bg-location mt-2"><i class="bi bi-geo-alt"></i> Mumbai,
                                        India</span>
                                </div>
                            </div>
                            </p>
                        </div>
                        <h5 class="mb-3 mt-2">Dynaxcel to Expand Operations with New Facility in Mumbai</h5>
                        <p class="" style="text-align: justify;">Dynaxcel announces the opening of a new
                            state-of-the-art manufacturing facility in Mumbai. This expansion is part of Dynaxcel's
                            ongoing efforts to meet the growing demand for high-quality . Dynaxcel's ongoing efforts to
                            meet the growing </p>
                        <a href="" class="btn bg-white text-primary w-100 mt-2">Read More<i
                                class="fa fa-arrow-right text-secondary ms-2"></i></a>
                    </div>

                    <div class="bg-light p-4 news-carousel-item mt-3 mb-3 " style="height: 200%;">
                        <div class="news-img">
                            <img src="https://cdn.hasselblad.com/hasselblad-com/6cb604081ef3086569319ddb5adcae66298a28c5_x1d-ii-sample-01-web.jpg?auto=format&q=97"
                                alt="" loading="lazy">
                        </div>
                        <div class="news-info mt-3">
                            <p class="news-date-location">
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="badge bg-date mt-2"><i class="bi bi-calendar3"></i> Jul 15, 2024</span>
                                </div>
                                <div class="col-sm-7">
                                    <span class="badge bg-location mt-2"><i class="bi bi-geo-alt"></i> Delhi,
                                        India</span>
                                </div>
                            </div>
                            </p>
                        </div>
                        <h5 class="mb-3 mt-2">Dynaxcel Achieves Milestone with New Metro Component Contract</h5>
                        <p class="" style="text-align: justify;">Dynaxcel has secured a major contract to supply
                            critical components for Delhi’s expanding metro network. This contract showcases Dynaxcel's
                            expertise in railway and metro components, further strengthening its presence in the
                            transportation sector.</p>
                        <a href="" class="btn bg-white text-primary w-100 mt-2">Read More<i
                                class="fa fa-arrow-right text-secondary ms-2"></i></a>
                    </div>

                    <div class="bg-light p-4 news-carousel-item mt-3 mb-3 " style="height: 200%;">
                        <div class="news-img">
                            <img src="https://cdn.hasselblad.com/hasselblad-com/6cb604081ef3086569319ddb5adcae66298a28c5_x1d-ii-sample-01-web.jpg?auto=format&q=97"
                                alt="" loading="lazy">
                        </div>
                        <div class="news-info mt-3">
                            <p class="news-date-location">
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="badge bg-date mt-2"><i class="bi bi-calendar3"></i> Jun 10, 2024</span>
                                </div>
                                <div class="col-sm-7">
                                    <span class="badge bg-location mt-2"><i class="bi bi-geo-alt"></i> Bengaluru,
                                        India</span>
                                </div>
                            </div>
                            </p>
                        </div>
                        <h5 class="mb-3 mt-2">New Innovations in Stainless Steel Fabrication at Dynaxcel</h5>
                        <p class="" style="text-align: justify;">Dynaxcel introduces cutting-edge innovations in
                            stainless steel and exotic material fabrication. This move enhances its capabilities to
                            deliver high-precision, contamination-free solutions for sectors like Food, Pharma, and
                            Bio-fuel.</p>
                        <a href="" class="btn bg-white text-primary w-100 mt-2">Read More<i
                                class="fa fa-arrow-right text-secondary ms-2"></i></a>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>


<!-- News Stop-->



<!-- Gallery Start-->

<div class="container  px-2 py-5  mt-5" style="border-radius: 15px;">
    <div class="row text-center mb-4">
        <div class="Heading-section">
            <i class="bi bi-gear-wide-connected"></i>
            <span class="line-text"> <span class="text-secondary">Our</span> Gallery </span>
            <i class="bi bi-gear-wide-connected"></i>
        </div>
    </div>

    <div class="owl-carousel gallery-carousel">
        {% for image in gallery_images %}
        <div class="item">
            <img src="{{image.image.url}}" alt="" loading="lazy" />
        </div>
        {% endfor %}
    </div>

    <center>
        <a class="btn btn-primary rounded-pill py-2 px-5 mt-3" href="{% url "web_photos_gallary" %}">More Images</a>
    </center>

</div>

<!-- Gallery Stop-->





<section class="mb-5">
    <div class="container bg-light px-2 py-5  mt-5"
        style="border-radius: 15px; max-width: 1600px; box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.068);">
        <div class="row text-center mb-4">
            <div class="Heading-section">
                <i class="bi bi-gear-wide-connected"></i>
                <span class="line-text"> <span class="text-secondary">Do You Have</span> Question's ? </span>
                <i class="bi bi-gear-wide-connected"></i>
            </div>
            <p class="  text-secondary mb-5">We hope you have found an answer to your question. <br>
                If you need any help, please search your query on our Support Center or contact us via
                email.</p>
        </div>

        <div class="container">
            <div class="row gy-5 gy-lg-0 align-items-lg-center">
                <div class="col-12 col-lg-6 text-center align-items-center">
                    <img class="img-fluid rounded" loading="lazy" src="{% static '/website/img/questions.png' %}"
                        alt="How can we help you?" data-aos="zoom-out-down" data-aos-duration="1500"
                        data-aos-delay="50">
                </div>

                <div class=" col-12 col-lg-6 bg-primary" style="border-radius: 10px;">
                    <div class="accordion" id="myAccordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne">1.Do you do Stainless Steel Fabrication?</button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show"
                                data-bs-parent="#myAccordion">
                                <div class="card-body">
                                    <p>Yes, Our core strength is fabrication in Stainless Steel. We make equipment in SS
                                        304/L, SS 316/L, SS 310, SS 317, SS 321, SS 347, Lean Duplex, Duplex & Super
                                        Duplex Stainless Steel.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button type="button" class="accordion-button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo">2. Do you do MS fabrication?</button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse " data-bs-parent="#myAccordion">
                                <div class="card-body">
                                    <p>The capacity is very limited. If an equipment contain both the metals such as MS
                                        & SS, we do it.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree">3. Do you fabricate vessels in exotic
                                    material?</button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                <div class="card-body">
                                    <p>Yes, we do. We fabricate in Nickel & Its alloys, Titanium, Farralium, Aluminium,
                                        Brass etc.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <center>
                <a class="btn btn-primary rounded-pill py-2 px-5 mt-3" href="">Explore More</a>
            </center>

</section>




<!-- Contact Us Start -->
<div class="container-fluid py-5 contact-form-section" loading="lazy"
    style=" background: url('/static/website/img/services-bg-1.webp'); background-position: center right;  background-size: cover;">
    <div class="container">
        <div class="row text-center mb-4">
            <div class="Heading-section">
                <i class="bi bi-gear-wide-connected"></i>
                <span class="line-text"> <span class="text-secondary">Contact</span> Us </span>
                <i class="bi bi-gear-wide-connected"></i>
            </div>

            <p class="  text-secondary mb-5">Get in touch with us for expert solutions and personalized support tailored
                to your needs!</p>
        </div>

        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="mb-4">Meet Our Engineers to Discuss Your Project Needs!</h1>
                <p class="mb-4">Meet with our expert engineers to discuss your project needs and discover tailored,
                    innovative solutions. We’re here to help you bring your vision to life with precision and expertise.
                </p>
                <div class="row align-items-center bg-light p-4 rounded ">
                    <div class="col-sm-2 d-flex justify-content-center">
                        <div class="text-center rounded-circle bg-primary p-3" style="width: 70px; height: 70px;">
                            <i class="bi bi-telephone text-white fs-3"
                                style="width: 100%; height: 100%; vertical-align: middle;"></i>
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <div class="ms-1">
                            <p class="mb-1 text-muted">Call Us Now</p>
                            <h5 class="mb-0 fw-bold text-dark"> +91 98233 17376</h5>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center bg-light p-4 rounded mt-3">
                    <div class="col-sm-2 d-flex justify-content-center">
                        <div class="text-center rounded-circle bg-primary p-3" style="width: 70px; height: 70px;">
                            <i class="bi bi-envelope-open text-white fs-3"
                                style="width: 100%; height: 100%; vertical-align: middle;"></i>
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <div class="ms-1">
                            <p class="mb-1 text-muted">Mail Us Now</p>
                            <h5 class="mb-0 fw-bold text-dark"> sales@dynaxcel.com</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="bg-light rounded h-100 d-flex align-items-center shadow-sm p-2">
                    <form method="post">{% csrf_token %}
                        <div class="row g-3">
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control border-1 rounded" id="name" name="name" placeholder="Your Name"
                                    style="height: 55px;" style="">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="number" class="form-control border-1 rounded" id="mobile" name="mobile" placeholder="Your Mobile"
                                    style="height: 55px;" style="">
                            </div>
                            <div class="col-12 col-sm-12">
                                <input type="email" class="form-control border-1 rounded" id="email" name="email" placeholder="Your Email"
                                    style="height: 55px;" style="">
                            </div>

                            <div class="col-12 col-sm-12">
                                <input type="text" class="form-control border-1 " id="subject" name="subject" placeholder="Subject"
                                    style="height: 55px;" style="">
                            </div>

                            <div class="col-12">
                                <textarea class="form-control border-1 rounded" rows="5"
                                    placeholder="Describe your problem" id="message" name="message" style=""></textarea>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Appointment End -->




<div class="container bg-light py-3"
    style="border-radius: 15px; max-width: 1600px; box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.068); position: relative; bottom:-40px;">
    <div class="row ">
        <div class="col-sm-6">
            <div class="row align-items-center  p-4 alert alert-success mt-3 mx-2" style="border-radius: 20px;">
                <div class="col-sm-2 d-flex justify-content-center">
                    <div class="text-center rounded-circle bg-primary p-3" style="width: 70px; height: 70px;">
                        <i class="bi bi-geo-alt text-white fs-3"
                            style="width: 100%; height: 100%; vertical-align: middle;"></i>
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="ms-1">
                        <p class="mb-1 text-muted">We're here to help</p>
                        <h6 class="mb-0 fw-bold text-dark">
                            <p class="mb-0">A2, Gat No. 1237, 1239 & 1240(P) Alandi – Markal Road, Markal, Tal. Khed,
                                Pune – 412105
                                </h5>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-6">
            <div class="row align-items-center  p-4 alert alert-success mt-3 mx-2" style="border-radius: 20px;">
                <div class="col-sm-2 d-flex justify-content-center">
                    <div class="text-center rounded-circle bg-primary p-3" style="width: 70px; height: 70px;">
                        <i class="bi bi-clock-history text-white fs-3"
                            style="width: 100%; height: 100%; vertical-align: middle;"></i>
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="ms-1">
                        <p class="mb-1 text-muted">Working Hour</p>
                        <h6 class="mb-0 fw-bold text-dark">
                            <p class="mb-0">9:00 AM - 6:00 PM<br>Monday to Saturday</p>
                            </h5>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>




{% endblock content %}