{% extends "website_base.html" %}
{% block title %}Infrastructure - Dynaxcel{% endblock title %}
{% load static %}
{% block style %}
{% block links %}
{% endblock links %}

.page-header {
position: relative;
background: url('/static/website/img/infrastructure-background.jpg');
background-position: center center;
background-attachment: fixed;
background-size: cover;
padding: 140px 0px 125px 0px;
overflow: hidden;
}
.page-header::before {
content: '';
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgba(61, 61, 61, 0.753);
z-index: 1;
}
.page-header > * {
position: relative;
z-index: 2;
}
.shape-container {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1;
pointer-events: none;
}
.shape {
position: absolute;
width: 50px;
height: 50px;
opacity: 0.8;
animation: moveRandom 20s infinite ease-in-out;
}
.circle {
border-radius: 50%;
background-color: #ffffff56;
}
@keyframes moveRandom {
0% { transform: translate(0, 0) rotate(0deg); }
25% { transform: translate(100px, 200px) rotate(45deg); }
50% { transform: translate(-150px, 50px) rotate(90deg); }
75% { transform: translate(200px, -100px) rotate(135deg); }
100% { transform: translate(0, 0) rotate(180deg); }
}
h1 { font-size: 70px; }
@media (max-width: 990px) { h1 { font-size: 60px; } }
@media (max-width: 500px) { h1 { font-size: 30px; } }

{% endblock style %}
{% block content %}


<section class="page-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center text-light">
                <h1 class="text-light" style="font-size: 40;">Our <span class="text-primary">Infrastructure</span></h1>
                <p class="fs-5 text-white">World-class facilities driving innovation and excellence in equipment
                    manufacturing.</p>
            </div>
        </div>
    </div>
    <!-- Shapes for animation -->
    <div class="shape-container">
        <div class="shape circle"></div>
    </div>
</section>


<div class="container bg-light p-3 mt-4" style="box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px; border-radius: 20px;">
    <div class="row">
        <div class="col-sm-6 mt-2">
            <div class="rounded " style="background-color: rgb(240, 255, 240);">
                <div class="owl-carousel about-gallery-carousel">
                    <img src="{% static 'website/img/infra2.png' %}" class="d-block w-100" alt="Slide 1" loading="lazy" tyle="width: auto; height: auto; max-width: 100%; max-height: 100%;">
                </div>

            </div>
        </div>
        <div class="col-sm-6 mt-2">
            <div class="row pt-5">

                <h2><b>Infrastructure</b></h2>
                <div class="col-sm-4 mt-2">
                    <div class="counter-item rounded p-3 h-100"  data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="100"  style="background-color: rgb(240, 255, 240);">
                        <div class="counter-counting">
                            <span class="text-primary fs-2 fw-bold" data-toggle="counter-up">11800</span>
                            <span class="h1 fw-bold text-primary">+</span>
                        </div>
                        <h5 class="mb-0 text-dark">Sq M land</h5>
                    </div>
                </div>
                <div class="col-sm-4 mt-2">
                    <div class="counter-item rounded p-3 h-100"  data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="100"   style="background-color: rgb(240, 255, 240);">
                        <div class="counter-counting">
                            <span class="text-primary fs-2 fw-bold" data-toggle="counter-up">5625</span>
                            <span class="h1 fw-bold text-primary">+</span>
                        </div>
                        <h5 class="mb-0 text-dark">Sq M Shed
                        </h5>
                    </div>
                </div>

                <div class="col-sm-4 mt-2">
                    <div class="counter-item rounded p-3 h-100"  data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="100"  style="background-color: rgb(240, 255, 240);">
                        <div class="counter-counting">
                            <span class="text-primary fs-2 fw-bold" data-toggle="counter-up">1000</span>
                            <span class="h1 fw-bold text-primary">+</span>
                        </div>
                        <h5 class="mb-0 text-dark">Sq M Office
                        </h5>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-sm-12">
            <div class="row pt-5">

                <center>
                    <h2><b>MANUFACTURING BAY</b></h2>
                </center>
                <div class="col-sm-6 mt-2">
                    <div class="counter-item rounded p-3 h-100"  data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="100"  style="background-color: rgb(240, 255, 240);">
                        <div class="counter-counting">
                            <span class="text-primary fs-2 fw-bold" data-toggle="counter-up">BAY - I</span>
                        </div>
                        <ul>
                            <li>
                                <h6 class="text-secondary" style="font-size: 15px;"><i
                                        class="bi bi-check text-primary fs-5 me-3"></i>18 M x 75 M (Project Eqpt, assly)
                                </h6>
                            </li>
                            <li>
                                <h6 class="text-secondary" style="font-size: 15px;"><i
                                        class="bi bi-check text-primary fs-5 me-3"></i>30+10 tons cranes </h6>
                            </li>
                            <li>
                                <h6 class="text-secondary" style="font-size: 15px;"><i
                                        class="bi bi-check text-primary fs-5 me-3"></i>Levelled clamping floor 323Sq M
                                </h6>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-6 mt-2">
                    <div class="counter-item rounded p-3 h-100"  data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="100"  style="background-color: rgb(240, 255, 240);">
                        <div class="counter-counting">
                            <span class="text-primary fs-2 fw-bold" data-toggle="counter-up">BAY - II</span>
                        </div>
                        <ul>
                            <li>
                                <h6 class="text-secondary" style="font-size: 15px;"><i
                                        class="bi bi-check text-primary fs-5 me-3"></i>12.5 M × 75 M (Batch comp.) </h6>
                            </li>
                            <li>
                                <h6 class="text-secondary" style="font-size: 15px;"><i
                                        class="bi bi-check text-primary fs-5 me-3"></i>5+5 Tons cranes. </h6>
                            </li>
                            <li>
                                <h6 class="text-secondary" style="font-size: 15px;"><i
                                        class="bi bi-check text-primary fs-5 me-3"></i>Consumables Store </h6>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-6 mt-2">
                    <div class="counter-item rounded p-3 h-100"  data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="100"  style="background-color: rgb(240, 255, 240);">
                        <div class="counter-counting">
                            <span class="text-primary fs-2 fw-bold" data-toggle="counter-up">BAY - III</span>
                        </div>
                        <ul>
                            <li>
                                <h6 class="text-secondary" style="font-size: 15px;"><i
                                        class="bi bi-check text-primary fs-5 me-3"></i>18 M × 75 M (SS & Exotic) </h6>
                            </li>
                            <li>
                                <h6 class="text-secondary" style="font-size: 15px;"><i
                                        class="bi bi-check text-primary fs-5 me-3"></i>10+5 Tons cranes.</h6>
                            </li>
                            <li>
                                <h6 class="text-secondary" style="font-size: 15px;"><i
                                        class="bi bi-check text-primary fs-5 me-3"></i>Clean Room 200 Sq M. </h6>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-6 mt-2">
                    <div class="counter-item rounded p-3 h-100"  data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="100"  style="background-color: rgb(240, 255, 240);">
                        <div class="counter-counting">
                            <span class="text-primary fs-2 fw-bold" data-toggle="counter-up">BAY - IV</span>
                        </div>
                        <ul>
                            <li>
                                <h6 class="text-secondary" style="font-size: 15px;"><i
                                        class="bi bi-check text-primary fs-5 me-3"></i>18 M × 75 M (RM store & Prep) X
                                </h6>
                            </li>
                            <li>
                                <h6 class="text-secondary" style="font-size: 15px;"><i
                                        class="bi bi-check text-primary fs-5 me-3"></i>10+5 Tons cranes</h6>
                            </li>
                            <li>
                                <h6 class="text-secondary" style="font-size: 15px;"><i
                                        class="bi bi-check text-primary fs-5 me-3"></i>CNC Machines </h6>
                            </li>
                        </ul>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>






<div class="container bg-light p-3 mt-4" style="box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px; border-radius: 20px;">
    <div class="row">
        <div class="col-sm-6 mt-2">
            <div class="row ">

                <h2><b>LASER CUTTING MACHINE</b></h2>
                <div class="col-sm-12 mt-2">
                    <div class="counter-item rounded p-3 h-100"  data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="100"  style="background-color: #defaff;">
                        <div class="counter-counting">
                            <span class=" fs-3 fw-bold" data-toggle="counter-up" style="color: #3cbcc9;">CO2 LASER</span>
                        </div>
                        <ul>
                            <li>
                                <h6 class="text-secondary" style="font-size: 15px;"><i
                                        class="bi bi-check fs-5 me-3"  style="color: #3cbcc9;"></i>PLATINO 4 KW 2*4 M </h6>
                            </li>
                            <li>
                                <h6 class="text-secondary" style="font-size: 15px;"><i
                                        class="bi bi-check fs-5 me-3"  style="color: #3cbcc9;"></i>SS-16 MM, MS-24 MM, AL-10 MM</h6>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-12 mt-2">
                    <div class="counter-item rounded p-3 h-100"  data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="100"  style="background-color: #defaff;">
                        <div class="counter-counting">
                            <span class=" fs-3 fw-bold" data-toggle="counter-up" style="color: #3cbcc9;">FIBRE LASER</span>
                        </div>
                        <ul>
                            <li>
                                <h6 class="text-secondary" style="font-size: 15px;"><i
                                        class="bi bi-check fs-5 me-3"  style="color: #3cbcc9;"></i>PLATINO 3 KW 1.5*3 M </h6>
                            </li>
                            <li>
                                <h6 class="text-secondary" style="font-size: 15px;"><i
                                        class="bi bi-check fs-5 me-3"  style="color: #3cbcc9;"></i>SS-8 MM, MS-14 MM, AL-5 MM</h6>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>


        <div class="col-sm-6 mt-2">
            <div class="owl-carousel about-gallery-carousel">
                <img src="{% static 'website/img/infra3.jpg' %}" class="d-block w-100" alt="Slide 1" loading="lazy" tyle="width: auto; height: auto; max-width: 100%; max-height: 100%;">
            </div>
        </div>
    </div>
</div>




<div class="container bg-light p-3 mt-4" style="box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px; border-radius: 20px;">
    <div class="row">
        <div class="col-sm-6 mt-2">

            <div class="owl-carousel about-gallery-carousel">
                <img src="{% static 'website/img/infra4.png' %}" class="d-block w-100" alt="Slide 1" loading="lazy" tyle="width: auto; height: auto; max-width: 100%; max-height: 100%;">

            </div>
        </div>

        <div class="col-sm-6 mt-2">
            <div class="row ">
                <h2><b>TURRET PUNCH PRESS</b></h2>
                <div class="col-sm-12 mt-2">
                    <div class="counter-item rounded p-3 h-100"  data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="100"  style="background-color: #ffdeff;">
                        <div class="counter-counting">
                            <span class=" fs-3 fw-bold" data-toggle="counter-up" style="color: #a73cc9;">23 TONS FINN-POWER
                                TTP</span>
                        </div>
                        <ul>
                            <li>
                                <h6 class="text-secondary" style="font-size: 15px;"><i
                                        class="bi bi-check  fs-5 me-3" style="color: #a73cc9;"></i>1250*2500 mm </h6>
                            </li>
                            <li>
                                <h6 class="text-secondary" style="font-size: 15px;"><i
                                        class="bi bi-check  fs-5 me-3" style="color: #a73cc9;"></i>3MM SS, 6 MM SS</h6>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<div class="container bg-light p-3 mt-4" style="box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px; border-radius: 20px;">
    <div class="row">
        <div class="col-sm-6 mt-2">
            <div class="row ">
                <h2><b>WATER JET CUTTING MACHINE</b></h2>
                <div class="col-sm-12 mt-2">
                    <div class="counter-item rounded p-3 h-100"  data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="100"  style="background-color: #fff2de;">
                        <div class="counter-counting">
                            <span class="  fs-3 fw-bold" data-toggle="counter-up"  style="color: #c9a03c;">FLOW INC-MACH 4020</span>
                        </div>
                        <ul>
                            <li>
                                <h6 class="text-secondary" style="font-size: 15px;"><i
                                        class="bi bi-check  fs-5 me-3" style="color: #c9a03c;"></i>2000*4000 mm </h6>
                            </li>
                            <li>
                                <h6 class="text-secondary" style="font-size: 15px;"><i
                                        class="bi bi-check  fs-5 me-3" style="color: #c9a03c;"></i>120MM</h6>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mt-2">
            <div class="owl-carousel about-gallery-carousel">
                <img src="{% static 'website/img/infra5.png' %}" class="d-block w-100" alt="Slide 1" loading="lazy" tyle="width: auto; height: auto; max-width: 100%; max-height: 100%;">

            </div>
        </div>
    </div>
</div>






<div class="container bg-light p-3 mt-4" style="box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px; border-radius: 20px;">
    <div class="row">
        <div class="col-sm-6 mt-2"> 
            <div class="owl-carousel about-gallery-carousel">
                <img src="{% static 'website/img/infra6.jpg' %}" class="d-block w-100" alt="Slide 1" loading="lazy" tyle="width: auto; height: auto; max-width: 100%; max-height: 100%;">

            </div>
        </div>
        <div class="col-sm-6 mt-2">
            <div class="row ">
                <h2><b>PRESS BRAKE MACHINE</b></h2>
                <div class="col-sm-12 mt-2">
                    <div class="counter-item rounded p-3 h-100"  data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="100"  style="background-color: rgb(240, 255, 240);">
                        
                        <ul>
                            <li>
                                <h6 class="text-secondary" style="font-size: 15px;"><i
                                        class="bi bi-check text-primary fs-5 me-3"></i>220 TONE YAWEL </h6>
                            </li>
                            <li>
                                <h6 class="text-secondary" style="font-size: 15px;"><i
                                        class="bi bi-check text-primary fs-5 me-3"></i>1420 MM</h6>
                            </li>
                            <li>
                                <h6 class="text-secondary" style="font-size: 15px;"><i
                                        class="bi bi-check text-primary fs-5 me-3"></i>5 AXIS CONTROL</h6>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>







<div class="container bg-light p-3 mt-4" style="box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px; border-radius: 20px;">
    <div class="row">
        
        <div class="col-sm-6 mt-2">
            <div class="row ">
                <h2><b>PRESS BRAKE MACHINE</b></h2>
                <div class="col-sm-12 mt-2">
                    <div class="counter-item rounded p-3 h-100"  data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="100"  style="background-color: rgb(240, 255, 240);">
                        <ul>
                            <li>
                                <h6 class="text-secondary" style="font-size: 15px;"><i
                                        class="bi bi-check text-primary fs-5 me-3"></i>600 TONE YAWEL </h6>
                            </li>
                            <li>
                                <h6 class="text-secondary" style="font-size: 15px;"><i
                                        class="bi bi-check text-primary fs-5 me-3"></i>6300 MM</h6>
                            </li>
                            <li>
                                <h6 class="text-secondary" style="font-size: 15px;"><i
                                        class="bi bi-check text-primary fs-5 me-3"></i>4 AXIS CONTROL</h6>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        

        <div class="col-sm-6 mt-2"> 
            <div class="owl-carousel about-gallery-carousel">
                <img src="{% static 'website/img/infra7.jpeg' %}" class="d-block w-100" alt="Slide 1" loading="lazy" tyle="width: auto; height: auto; max-width: 100%; max-height: 100%;">

            </div>
        </div>

    </div>
</div>







<div class="container bg-light p-3 mt-4" style="box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px; border-radius: 20px;">
    <div class="row">
        
        <div class="col-sm-6 mt-2"> 
            <div class="owl-carousel about-gallery-carousel">
                <img src="{% static 'website/img/infra8.jpg' %}" class="d-block w-100" alt="Slide 1" loading="lazy" tyle="width: auto; height: auto; max-width: 100%; max-height: 100%;">

            </div>
        </div>

        <div class="col-sm-6 mt-2">
            <div class="row ">
                <h2><b>PLATE BENDING MACHINE</b></h2>
                <div class="col-sm-12 mt-2">
                    <div class="counter-item rounded p-3 h-100"  data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="100"  style="background-color: #ffdede;">
                        <ul>
                            <li>
                                <h6 class="text-secondary" style="font-size: 15px;"><i
                                        class="bi bi-check  fs-5 me-3" style="color: #c93c4b;"></i>AKYAPAK 4 ROLLER PBM </h6>
                            </li>
                            <li>
                                <h6 class="text-secondary" style="font-size: 15px;"><i
                                        class="bi bi-check  fs-5 me-3" style="color: #c93c4b;"></i>2000 MM</h6>
                            </li>
                            <li>
                                <h6 class="text-secondary" style="font-size: 15px;"><i
                                        class="bi bi-check  fs-5 me-3" style="color: #c93c4b;"></i>25 MM SS</h6>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>








<div class="container bg-light p-3 mt-4" style="box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px; border-radius: 20px;">
    <div class="row">
        
        <div class="col-sm-6 mt-2">
            <div class="row ">
                <h2><b>SURFACE TREATMENT</b></h2>
                <div class="col-sm-12 mt-2">
                    <div class="counter-item rounded p-3 h-100"  data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="100"  style="background-color: #dedfff;">
                        <ul>
                            <li>
                                <h6 class="text-secondary" style="font-size: 15px;"><i
                                        class="bi bi-check  fs-5 me-3" style="color: #3c76c9;"></i>SS WASHING BAY TREATMENT PLATE</h6>
                            </li>
                            <li>
                                <h6 class="text-secondary" style="font-size: 15px;"><i
                                        class="bi bi-check  fs-5 me-3" style="color: #3c76c9;"></i>6M * 12M</h6>
                            </li>
                            <li>
                                <h6 class="text-secondary" style="font-size: 15px;"><i
                                        class="bi bi-check  fs-5 me-3" style="color: #3c76c9;"></i>Mechanical Polishing</h6>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="col-sm-6 mt-2"> 
            <div class="owl-carousel about-gallery-carousel">
                <img src="{% static 'website/img/infra9.jpg' %}" class="d-block w-100" alt="Slide 1" loading="lazy" tyle="width: auto; height: auto; max-width: 100%; max-height: 100%;">

            </div>
        </div>

    </div>
</div>







 



<div class="container-fluid bg-light p-3 mt-3 mb-3" style="box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px; border-radius: 20px;">
           
        <div class="row">
            <div class="col-sm-4 mt-2"> 
                <div class="owl-carousel about-gallery-carousel">
                    <img src="{% static 'website/img/infra12.jpg' %}" class="d-block w-100" alt="Slide 1" loading="lazy" tyle="width: auto; height: auto; max-width: 100%; max-height: 100%;">

                </div>
                <center>
                    <div class="counter-item rounded p-3 " style="background-color: rgb(240, 255, 240); width: 70%; position: relative; margin-top: -40px; z-index: 1;">
                        <div class="counter-counting">
                            <span class="text-primary fs-3 fw-bold" data-toggle="counter-up">GLASS BD CL/NG CHAMBER</span>
                        </div>
                        <ul> 
                            <li>
                                <h6 class="text-secondary" style="font-size: 15px;"><i
                                        class="bi bi-check text-primary fs-5 me-3"></i>2.5 M * 6 M</h6>
                            </li>
                            
                        </ul>
                    </div>
                </center>
            </div>

            <div class="col-sm-4 mt-2"> 
                <div class="owl-carousel about-gallery-carousel">
                    <img src="{% static 'website/img/infra10.jpg' %}" class="d-block w-100" alt="Slide 1" loading="lazy" tyle="width: auto; height: auto; max-width: 100%; max-height: 100%;">

                </div>
                <center> 
                    <div class="counter-item rounded p-3 " style="background-color: rgb(240, 255, 240); width: 70%; position: relative; margin-top: -40px; z-index: 1;">
                        <div class="counter-counting">
                            <span class="text-primary fs-3 fw-bold" data-toggle="counter-up">FITMENT AND WELD AUTOMATION</span>
                        </div>
                    </div>
                </center>
            </div>

            <div class="col-sm-4 mt-2"> 
                <div class="owl-carousel about-gallery-carousel">
                    <img src="{% static 'website/img/infra11.jpeg' %}" class="d-block w-100" alt="Slide 1" loading="lazy" tyle="width: auto; height: auto; max-width: 100%; max-height: 100%;">

                </div>
                <center> 
                    <div class="counter-item rounded p-3 " style="background-color: rgb(240, 255, 240); width: 70%; position: relative; margin-top: -40px; z-index: 1;">
                        <div class="counter-counting">
                            <span class="text-primary fs-3 fw-bold" data-toggle="counter-up">MACHINING VENDORBASE</span>
                        </div>
                    </div>
                </center>
            </div>
            
        </div>
    </div>
</div>





<script>
    document.addEventListener('DOMContentLoaded', function () {
        const shapeContainer = document.querySelector('.shape-container');
        function createShape(type) {
            const shape = document.createElement('div');
            shape.classList.add('shape', type);
            shape.style.top = Math.random() * 100 + '%';
            shape.style.left = Math.random() * 100 + '%';
            shapeContainer.appendChild(shape);
        }
        const shapes = ['circle'];
        for (let i = 0; i < 5; i++) {
            const randomShape = shapes[Math.floor(Math.random() * shapes.length)];
            createShape(randomShape);
        }
    });

    // Initialize AOS
    AOS.init();
</script>

{% endblock content %}