{% extends "website_base.html" %}
{% block title %}Certificates - Dynaxcel{% endblock title %}
{% load static %}
{% block style %}
{% block links %}

{% endblock links %}

.page-header {
position: relative;
background: url('/static/website/certs/background-wave.png') ;
<!-- background-color:green; -->
background-position: center center;
background-attachment: fixed;
background-size: 100%;
padding: 140px 0px 125px 0px;
overflow: hidden; /* Hide overflowing animated shapes */
}
.page-header::before {
content: '';
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgba(61, 61, 61, 0.753);
z-index: 1;
}
.page-header > * {
position: relative;
z-index:2;
}

/* Shape container */
.shape-container {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1;
pointer-events: none; /* So the shapes don't interfere with clicks */
}

/* Basic shape styling */
.shape {
position: absolute;
width: 50px;
height: 50px;
opacity: 0.8;
animation: moveRandom 20s infinite ease-in-out;
}

/* Specific shape styling */

.circle {
border-radius: 50%;
background-color: #ffffff56;
}


/* Random movement animation */
@keyframes moveRandom {
0% {
transform: translate(0, 0) rotate(0deg);
}
25% {
transform: translate(100px, 200px) rotate(45deg);
}
50% {
transform: translate(-150px, 50px) rotate(90deg);
}
75% {
transform: translate(200px, -100px) rotate(135deg);
}
100% {
transform: translate(0, 0) rotate(180deg);
}
}




.heading-title{
font-size: 70px;
}

@media (max-width: 990px) {
.heading-title{
font-size: 60px;
}

}

@media (max-width: 500px) {
.heading-title{
font-size: 30px;
}

}






{% endblock style %}
{% block content %}


<link rel="stylesheet" href="{% static 'website/css/uikit.css' %}" />

<style>
    h4 {
        display: block;
        margin-block-start: 0.2em;
        margin-block-end: 0.2em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        unicode-bidi: isolate;
    }


    /* Optional: Customize caption styles */
    .uk-lightbox .uk-lightbox-caption {
        font-size: 16px;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px;
        border-radius: 5px;
        bottom: 40px;
    }
</style>

<section class="page-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center text-light">
                <h1 class="text-light heading-title heading-text" style="font-weight:700; ">Latest <span
                        class="text-primary">Certificates</span> </h1>
            </div>
        </div>
    </div>
    <!-- Shapes for animation -->
    <div class="shape-container">
        <div class="shape circle"></div>
    </div>
</section>


<!-- Gallery Start-->
<div class="container shadow bg-light" id="certificate-head-carousel"
    style="border-radius: 15px; margin-top: -70px; z-index: 3;" >

    <div class="owl-carousel gallery-carousel px-2">

        <div class="bg-light p-4   shadow  mt-3 mb-3 "
            style="height: 200%; border-radius: 10px; width: 100%; text-align: center;" >
            <div class="news-img">
                <center>
                    <img src="{% static 'website/certs/certificate-icon-1.gif' %}" alt="" loading="lazy"
                        style="width: 80px; box-shadow: 10px;">
                </center>
            </div>
            <h5 class="mb-3 mt-2 "><b>ISO Certified</b></h4>
        </div>

        <div class="bg-light p-4   shadow  mt-3 mb-3 "
            style="height: 200%; border-radius: 10px; width: 100%; text-align: center;" >
            <div class="news-img">
                <center>
                    <img src="{% static 'website/certs/certificate-icon-2.gif' %}" alt="" loading="lazy"
                        style="width: 80px; box-shadow: 10px;">
                </center>
            </div>
            <h5 class="mb-3 mt-2 "><b>EN 15085-2 CL1 Certified</b></h4>
        </div>

        <div class="bg-light p-4   shadow  mt-3 mb-3 "
            style="height: 200%; border-radius: 10px; width: 100%; text-align: center;" >
            <div class="news-img">
                <center>
                    <img src="{% static 'website/certs/certificate-icon-3.gif' %}" alt="" loading="lazy"
                        style="width: 80px; box-shadow: 10px;">
                </center>
            </div>
            <h5 class="mb-3 mt-2 "><b>Engineers India Ltd </b></h4>
        </div>

        <div class="bg-light p-4   shadow  mt-3 mb-3 "
            style="height: 200%; border-radius: 10px; width: 100%; text-align: center;" >
            <div class="news-img">
                <center>
                    <img src="{% static 'website/certs/certificate-icon-4.gif' %}" alt="" loading="lazy"
                        style="width: 80px; box-shadow: 10px;">
                </center>
            </div>
            <h5 class="mb-3 mt-2 " style=""><b>R Stamp Certified</b></h4>
        </div>

    </div>
    <br>
</div>

<!-- Gallery Stop-->


<br>


<div class="container" id="certificate-head-carousel" style="border-radius: 15px;">
    <div class="row text-center mb-4"></div>
    <div class="Heading-section">
        <span class="line-text"><span class="text-secondary">Recognized </span> Excellence </span>
    </div>
    <center>
        <p>This is short description about certificate</p>
    </center>

    <div class="row mb-4">
        <!-- Certificate 1 -->
        <div class="col-sm-3 mt-4">
            <div class="card" data-aos="zoom-in-down" data-aos-duration="1500" data-aos-delay="50">
                <img src="{% static 'website/certs/cert1.jpg' %}" alt="" loading="lazy">
                <a href="#" class="btn btn-primary" style="position: absolute; opacity: 0.9; top:-15px;" data-toggle="modal" data-target="#certificateModal1">Read More</a>
            </div>
        </div>

        <!-- Certificate 2 -->
        <div class="col-sm-3 mt-4">
            <div class="card" data-aos-duration="1500" data-aos-delay="50" data-aos="zoom-in-down">
                <img src="{% static 'website/certs/cert2.jpg' %}" alt="" loading="lazy">
                <a href="#" class="btn btn-primary" style="position: absolute; opacity: 0.9; top:-15px;" data-toggle="modal" data-target="#certificateModal2">Read More</a>
            </div>
        </div>

        <!-- Certificate 3 -->
        <div class="col-sm-3 mt-4">
            <div class="card" data-aos-duration="1500" data-aos-delay="50" data-aos="zoom-in-down">
                <img src="{% static 'website/certs/cert3.jpg' %}" alt="" loading="lazy">
                <a href="#" class="btn btn-primary" style="position: absolute; opacity: 0.9; top:-15px;" data-toggle="modal" data-target="#certificateModal3">Read More</a>
            </div>
        </div>

        <!-- Certificate 4 -->
        <div class="col-sm-3 mt-4">
            <div class="card" data-aos-duration="1500" data-aos-delay="50" data-aos="zoom-in-down">
                <img src="{% static 'website/certs/4. EN 15085-2-images-0.jpg' %}" alt="" loading="lazy">
                <a href="#" class="btn btn-primary" style="position: absolute; opacity: 0.9; top:-15px;" data-toggle="modal" data-target="#certificateModal4">Read More</a>
            </div>
        </div>

        <!-- Certificate 5 -->
        <div class="col-sm-3 mt-4">
            <div class="card" data-aos-duration="1500" data-aos-delay="50" data-aos="zoom-in-down">
                <img src="{% static 'website/certs/5. EN ISO 3834-2_page-0001.jpg' %}" alt="" loading="lazy">
                <a href="#" class="btn btn-primary" style="position: absolute; opacity: 0.9; top:-15px;" data-toggle="modal" data-target="#certificateModal5">Read More</a>
            </div>
        </div>

        <!-- Certificate 6 -->
        <div class="col-sm-3 mt-4">
            <div class="card" data-aos-duration="1500" data-aos-delay="50" data-aos="zoom-in-down">
                <img src="{% static 'website/certs/6. ASME U & U2_page-0001.jpg' %}" alt="" loading="lazy">
                <a href="#" class="btn btn-primary" style="position: absolute; opacity: 0.9; top:-15px;" data-toggle="modal" data-target="#certificateModal6">Read More</a>
            </div>
        </div>

        <!-- Certificate 7 -->
        <div class="col-sm-3 mt-4">
            <div class="card" data-aos-duration="1500" data-aos-delay="50" data-aos="zoom-in-down">
                <img src="{% static 'website/certs/7. NB - R 230609 - DYNAXCEL Engineers Pvt Ltd..jpg' %}" alt="" loading="lazy">
                <a href="#" class="btn btn-primary" style="position: absolute; opacity: 0.9; top:-15px;" data-toggle="modal" data-target="#certificateModal7">Read More</a>
            </div>
        </div>

        <!-- Certificate 8 -->
        <div class="col-sm-3 mt-4">
            <div class="card" data-aos-duration="1500" data-aos-delay="50" data-aos="zoom-in-down">
                <img src="{% static 'website/certs/8. EIL Vendor enlistment Dynaxcel-1.jpg' %}" alt="" loading="lazy">
                <a href="#" class="btn btn-primary" style="position: absolute; opacity: 0.9; top:-15px;" data-toggle="modal" data-target="#certificateModal8">Read More</a>
            </div>
        </div>

        <!-- Certificate 9 -->
        <div class="col-sm-3 mt-4">
            <div class="card" data-aos-duration="1500" data-aos-delay="50" data-aos="zoom-in-down">
                <img src="{% static 'website/certs/9. Letter of Approval - DEPL IBR 1950_page-0001.jpg' %}" alt="" loading="lazy">
                <a href="#" class="btn btn-primary" style="position: absolute; opacity: 0.9; top:-15px;" data-toggle="modal" data-target="#certificateModal9">Read More</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Certificate 1 -->
<div class="modal fade" id="certificateModal1" tabindex="-1" role="dialog" aria-labelledby="certificateModal1Title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 900px; border-radius: 50px;">
        <div class="modal-content" style="border-radius: 30px;">
            <div class="modal-header">
                <h5 class="modal-title" id="certificateModal1Title"><b>Certificate Details</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="border: none;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <h4><b>Certified management system as per ISO 9001:2015</b></h4>
                        <p style="text-align: justify;">Dynaxcel Engineering Pvt. Ltd. is proud to announce its certification in ISO 9001:2015, a globally recognized standard for quality management systems. This certification demonstrates our commitment to delivering high-quality products and services while continuously improving our processes to meet customer needs.</p>
                    </div>
                    <div class="col-sm-6">
                        <center>
                            <img src="{% static 'website/certs/cert1.jpg' %}" alt="NA" style="height: 300px;" loading="lazy">
                            <br>
                            <a href="{% static 'website/certs/cert1.pdf' %}" class="btn btn-primary" download>Download</a>
                            <a href="{% static 'website/certs/cert1.pdf' %}" class="btn btn-primary" target="_blank">View</a>
                        </center>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Certificate 2 -->
<div class="modal fade" id="certificateModal2" tabindex="-1" role="dialog" aria-labelledby="certificateModal2Title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 900px; border-radius: 50px;">
        <div class="modal-content" style="border-radius: 30px;">
            <div class="modal-header">
                <h5 class="modal-title" id="certificateModal2Title"><b>Certificate Details</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="border: none;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <h4><b>Certified management system as per ISO 14001:2015</b></h4>
                        <p style="text-align: justify;">Dynaxcel Engineering Pvt. Ltd. is proud to announce its certification in ISO 14001:20155, a globally recognized standard for quality management systems. This certification demonstrates our commitment to delivering high-quality products and services while continuously improving our processes to meet customer needs.</p>
                    </div>
                    <div class="col-sm-6">
                        <center>
                            <img src="{% static 'website/certs/cert2.jpg' %}" alt="" style="height: 300px;" loading="lazy">
                            <br>
                            <a href="{% static 'website/certs/cert2.pdf' %}" class="btn btn-primary" download>Download</a>
                            <a href="{% static 'website/certs/cert2.pdf' %}" class="btn btn-primary" target="_blank">View</a>
                        </center>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Certificate 3 -->
<div class="modal fade" id="certificateModal3" tabindex="-1" role="dialog" aria-labelledby="certificateModal3Title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 900px; border-radius: 50px;">
        <div class="modal-content" style="border-radius: 30px;">
            <div class="modal-header">
                <h5 class="modal-title" id="certificateModal3Title"><b>Certificate Details</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="border: none;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <h4><b>Certified management system as per ISO 45001:2018</b></h4>
                        <p style="text-align: justify;">Dynaxcel Engineering Pvt. Ltd. is proud to announce its certification in ISO 45001:2018, a globally recognized standard for quality management systems. This certification demonstrates our commitment to delivering high-quality products and services while continuously improving our processes to meet customer needs.</p>
                    </div>
                    <div class="col-sm-6">
                        <center>
                            <img src="{% static 'website/certs/cert3.jpg' %}" alt="" style="height: 300px;" loading="lazy">
                            <br>
                            <a href="{% static 'website/certs/cert3.pdf' %}" class="btn btn-primary" download>Download</a>
                            <a href="{% static 'website/certs/cert3.pdf' %}" class="btn btn-primary" target="_blank">View</a>
                        </center>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- 4 -->

<div class="modal fade" id="certificateModal4" tabindex="-1" role="dialog" aria-labelledby="certificateModal3Title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 900px; border-radius: 50px;">
        <div class="modal-content" style="border-radius: 30px;">
            <div class="modal-header">
                <h5 class="modal-title" id="certificateModal3Title"><b>Certificate Details</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="border: none;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <h4><b>Welding of railway vehicles and components according to EN 15085-2</b></h4>
                        <p style="text-align: justify;">Dynaxcel Engineering Pvt. Ltd. is proud to announce its certification in Welding of railway vehicles and
                            components according to EN 15085-2, This certification demonstrates our commitment to delivering high-quality products and services while continuously improving our processes to meet customer needs.</p>
                    </div>
                    <div class="col-sm-6">
                        <center>
                            <img src="{% static 'website/certs/4. EN 15085-2-images-0.jpg' %}" alt="" style="height: 300px;" loading="lazy">
                            <br>
                            <a href="{% static 'website/certs/4. EN 15085-2.pdf' %}" class="btn btn-primary" download>Download</a>
                            <a href="{% static 'website/certs/4. EN 15085-2.pdf' %}" class="btn btn-primary" target="_blank">View</a>
                        </center>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- 5 -->
<div class="modal fade" id="certificateModal5" tabindex="-1" role="dialog" aria-labelledby="certificateModal3Title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 900px; border-radius: 50px;">
        <div class="modal-content" style="border-radius: 30px;">
            <div class="modal-header">
                <h5 class="modal-title" id="certificateModal3Title"><b>Certificate Details</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="border: none;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <h4><b>Inspection Of Welding Process</b></h4>
                        <p style="text-align: justify;">Dynaxcel Engineering Pvt. Ltd. is proud to announce its certification in Inspection Of Welding Process, This certification demonstrates our commitment to delivering high-quality products and services while continuously improving our processes to meet customer needs.</p>
                    </div>
                    <div class="col-sm-6">
                        <center>
                            <img src="{% static 'website/certs/5. EN ISO 3834-2_page-0001.jpg' %}" alt="" style="height: 300px;" loading="lazy">
                            <br>
                            <a href="{% static 'website/certs/5. EN ISO 3834-2.pdf' %}" class="btn btn-primary" download>Download</a>
                            <a href="{% static 'website/certs/5. EN ISO 3834-2.pdf' %}" class="btn btn-primary" target="_blank">View</a>
                        </center>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- 6 -->
<div class="modal fade" id="certificateModal6" tabindex="-1" role="dialog" aria-labelledby="certificateModal3Title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 900px; border-radius: 50px;">
        <div class="modal-content" style="border-radius: 30px;">
            <div class="modal-header">
                <h5 class="modal-title" id="certificateModal3Title"><b>Certificate Details</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="border: none;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <h4><b>Certified ACME</b></h4>
                        <p style="text-align: justify;">Dynaxcel Engineering Pvt. Ltd. is proud to announce its certification in ACME, This certification demonstrates our commitment to delivering high-quality products and services while continuously improving our processes to meet customer needs.</p>
                    </div>
                    <div class="col-sm-6">
                        <center>
                            <img src="{% static 'website/certs/6. ASME U & U2_page-0001.jpg' %}" alt="" style="height: 300px;" loading="lazy">
                            <br>
                            <a href="{% static 'website/certs/6. ASME U & U2.pdf' %}" class="btn btn-primary" download>Download</a>
                            <a href="{% static 'website/certs/6. ASME U & U2.pdf' %}" class="btn btn-primary" target="_blank">View</a>
                        </center>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- 7 -->
<div class="modal fade" id="certificateModal7" tabindex="-1" role="dialog" aria-labelledby="certificateModal3Title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 900px; border-radius: 50px;">
        <div class="modal-content" style="border-radius: 30px;">
            <div class="modal-header">
                <h5 class="modal-title" id="certificateModal3Title"><b>Certificate Details</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="border: none;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <h4><b>Certified in Boiler & Pressure Vessel Inspectors</b></h4>
                        <p style="text-align: justify;">Dynaxcel Engineering Pvt. Ltd. is proud to announce its certification in Boiler & Pressure Vessel Inspectors, This certification demonstrates our commitment to delivering high-quality products and services while continuously improving our processes to meet customer needs.</p>
                    </div>
                    <div class="col-sm-6">
                        <center>
                            <img src="{% static 'website/certs/7. NB - R 230609 - DYNAXCEL Engineers Pvt Ltd..jpg' %}" alt="" style="height: 300px;" loading="lazy">
                            <br>
                            <a href="{% static 'website/certs/7. NB - R 230609 - DYNAXCEL Engineers Pvt Ltd..pdf' %}" class="btn btn-primary" download>Download</a>
                            <a href="{% static 'website/certs/7. NB - R 230609 - DYNAXCEL Engineers Pvt Ltd..pdf' %}" class="btn btn-primary" target="_blank">View</a>
                        </center>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- 8 -->
<div class="modal fade" id="certificateModal8" tabindex="-1" role="dialog" aria-labelledby="certificateModal3Title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 900px; border-radius: 50px;">
        <div class="modal-content" style="border-radius: 30px;">
            <div class="modal-header">
                <h5 class="modal-title" id="certificateModal3Title"><b>Certificate Details</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="border: none;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <h4><b>Certified in Pressure Vessel-SS</b></h4>
                        <p style="text-align: justify;">Dynaxcel Engineering Pvt. Ltd. is proud to announce its certification in Pressure Vessel-SS, This certification demonstrates our commitment to delivering high-quality products and services while continuously improving our processes to meet customer needs.</p>
                    </div>
                    <div class="col-sm-6">
                        <center>
                            <img src="{% static 'website/certs/8. EIL Vendor enlistment Dynaxcel-1.jpg' %}" alt="" style="height: 300px;" loading="lazy">
                            <br>
                            <a href="{% static 'website/certs/8. EIL Vendor enlistment Dynaxcel-1.pdf' %}" class="btn btn-primary" download>Download</a>
                            <a href="{% static 'website/certs/8. EIL Vendor enlistment Dynaxcel-1.pdf' %}" class="btn btn-primary" target="_blank">View</a>
                        </center>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- 9 -->

<div class="modal fade" id="certificateModal9" tabindex="-1" role="dialog" aria-labelledby="certificateModal3Title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 900px; border-radius: 50px;">
        <div class="modal-content" style="border-radius: 30px;">
            <div class="modal-header">
                <h5 class="modal-title" id="certificateModal3Title"><b>Certificate Details</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="border: none;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <h4><b>Letter of Approval - DEPL IBR 1950</b></h4>
                        <p style="text-align: justify;">Dynaxcel Engineering Pvt. Ltd. is proud to announce its Letter of Approval - DEPL IBR 1950, This certification demonstrates our commitment to delivering high-quality products and services while continuously improving our processes to meet customer needs.</p>
                    </div>
                    <div class="col-sm-6">
                        <center>
                            <img src="{% static 'website/certs/9. Letter of Approval - DEPL IBR 1950_page-0001.jpg' %}" alt="" style="height: 300px;" loading="lazy">
                            <br>
                            <a href="{% static 'website/certs/9. Letter of Approval - DEPL IBR 1950.pdf' %}" class="btn btn-primary" download>Download</a>
                            <a href="{% static 'website/certs/9. Letter of Approval - DEPL IBR 1950.pdf' %}" class="btn btn-primary" target="_blank">View</a>
                        </center>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Add modals for certificates 4 to 9 similarly -->

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const shapeContainer = document.querySelector('.shape-container');

        // Function to create random shapes
        function createShape(type) {
            const shape = document.createElement('div');
            shape.classList.add('shape', type);
            shape.style.top = Math.random() * 100 + '%';
            shape.style.left = Math.random() * 100 + '%';
            shapeContainer.appendChild(shape);
        }

        // Create multiple shapes
        const shapes = ['circle'];
        for (let i = 0; i < 5; i++) {
            const randomShape = shapes[Math.floor(Math.random() * shapes.length)];
            createShape(randomShape);
        }
    });

</script>
{% endblock content %}